.tab-title h2 {
  display: inline-block;
}

.tab-title::marker {
  font-size: 1.2em;
}

[data-label]::before {
  content: attr(data-label);
  display: block;
  width: 100%;
  font-weight: bold;
}

.section[data-label]::before {
  font-size: 1.6em;
}

.category[data-label]::before {
  font-size: 1.4em;
}

.section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.section .category {
  width: 32%;
}

/* category specific overrides */

.section.appearance .category,
.section.mental .category
{
	width: 49%;
}

/* element specific overrides */

.tagline {
  display: block;
  text-align: center;
  width: 100%;
  font-size: 1.8em;
}

/* vim: expandtab tabstop=2 shiftwidth=2 */
